In [ ]:
# technology
use ineuron;
drop table ats;
create table ats(
id int,
technology varchar(25) not null
);
desc ats;
insert into ats values(1,'DS'),
(1,'Tablue'),(1,"SQL"),(2,'R'),(2,'PowerBI'),(1,'Python')
;
select * from ats;
# DS,SQL,Python
select * from ats where technology='DS' or technology='R';
select id from ats where technology in ('DS','SQL','Python'); # = True;
# id having all the three tecnologies
select id from ats where technology='DS' and technology='SQL' and technology='Python';
select id from ats where technology='DS' 
and id in (
select id from ats
where technology='SQL'
and id in (
select id from ats where technology='Python')
);
select id from ats where technology in ('DS','SQL','Python')
group by id
having count(distinct technology)=4;
select id from ats group by id having count(technology)=4;

In [ ]:

#  e-commerce website

use ineuron;
create table product_info(
product_id int,
product varchar(25) not null
);

insert into product_info values(1001,"Blog"),
(1002,"Youtube"),
(1003,"eduction");
drop table product_info;
drop table product_info_likes;

create table product_info_likes(
use_id int,
product_id int,
dates date
);

insert into product_info_likes values(1,1001,'2023-09-19'),
(2,1003,'2023-08-18');
select * from  product_info;
select * from  product_info_likes;
SELECT product_info_likes.product_id, product_info.product, product_info_likes.dates
FROM product_info_likes
INNER JOIN product_info ON product_info_likes.product_id=product_info.product_id;

Select * From product_info left join product_info_likes
on product_info.product_id=product_info_likes.product_id 
WHERE product_info_likes.product_id is null;